header {
  background: gray url(../img/header-bg.png) center center;
  background-size: cover; }
  header .container {
    min-height: 400px;
    padding-top: 30px; }
  header p, header h1 {
    color: white; }
  header .banner-wrapper {
    margin-left: 20px;
    padding-left: 0;
    border-bottom: 3px solid white;
    display: inline-block; }
  header h1 {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0;
    line-height: 40px; }
  header .form {
    background-color: white;
    min-height: 340px; }

main .item {
  width: 100%;
  min-height: 150px;
  margin-bottom: 25px;
  background-color: gray; }

main .container {
  min-height: 300px;
  padding-top: 75px; }

.computer {
  background-color: gray; }
  .computer .container {
    height: 583px; }

footer {
  background-color: oldLace; }
  footer .container {
    height: 155px; }
