header {
  background-color: gray; }
  header .container {
    min-height: 400px; }

main .item {
  width: 100%;
  min-height: 150px;
  margin-bottom: 25px;
  background-color: gray; }

main .container {
  min-height: 300px;
  padding-top: 75px; }

.computer {
  background-color: gray; }
  .computer .container {
    height: 583px; }

footer {
  background-color: oldLace; }
  footer .container {
    height: 155px; }
