$colorOfHeader: gray;
$backgroundColorOfMain: oldLace;
$colorOfDivs: gray;
$colorOfFooter1: gray;
$colorOfFooter2: oldLace;
$colorOfPopup:black;

#header{
    width:100%;
    height:400px;
    position: relative;
    top:0px;
    background-color: $colorOfHeader;
}
.container{
   .row{
        padding-top: 76px;
        padding-bottom: 76px;
        background-color: $backgroundColorOfMain;
        .col-lg-5{
            background-color: $colorOfDivs;
            height: 149px;
            margin-top: 27px;
        }
    }
    #popup {
        width:588px;
        height:300px;
        position: relative;
        top:-390px;
        margin: auto;
        background-color: $colorOfPopup;
        display: none;
    }
}
#footer1{
    width: 100%;
    height:583px;
    background-color: $colorOfFooter1;
}
#footer2{
    width: 100%;
    height:155px;
    background-color: $colorOfFooter2;
}
