$colorOfHeader: gray;
$backgroundColorOfMain: oldLace;
$colorOfDivs: gray;
$colorOfFooter1: gray;
$colorOfFooter2: oldLace;
$colorOfPopup:black;

header{
    .container{
        min-height: 400px;
    }
    background-color: $colorOfHeader;
}
main{
    .item{
        width:100%;
        min-height: 150px;
        margin-bottom: 25px;
        background-color: $colorOfDivs;
    }
    .container{
        min-height: 300px;
        padding-top: 75px;
    }
}
.computer{
    background-color: $colorOfFooter1;
    .container{
        height:583px;        
    }    
}
footer{
    .container{
        height:155px;        
    } 
    background-color: $colorOfFooter2;
}
